.main-img {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    min-height: 480px;
    background-image: linear-gradient(90deg, rgba(244,218,82,0.804359243697479) 23%, rgba(244,218,82,0) 56%), url("../../assets/images/jesse-orrico.jpg");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    margin-bottom: 50px;
  }

.newsinfo-title-h3 {
    font-size: 2.5vmin;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}
    
.newsinfo-top {
    grid-column: span 2 / span 2;
    padding-left: 5%;
    padding-right: 5%;
    background-color: var(--white);
    border-bottom: 5px solid var(--primaryblue);
}

.newsinfo-left {
    grid-row-start: 2;
    padding: 50px;
    padding-left: 7%;
}

.newsinfo-right {
    grid-row-start: 2;
    align-items: center;
    justify-items: center;
    margin-top: auto;
    padding: 50px;
}

.grid-parent-newsinfo p {
    line-height: 30px;
  }

.grid-parent-newsinfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template: 50px auto / 1fr 400px;
    margin-bottom: 50px;
    background-color: var(--lightblue);
    border-bottom: 2px solid var(--lighterblue);
}

.museuminfo-title {
    font-size: 2.5vmin;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
    padding-left: 5%;
    padding-bottom: 20px;
    padding: 20px;
    margin: 0;
}

.museuminfo-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    gap: 40px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 80px;
}

.museuminfo-container p {
    flex: 1 1 auto;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.museuminfo-container a {
    margin: 20px;
    text-align: left;
}

.museuminfo-box1, .museuminfo-box2, .museuminfo-box3 {
    width: 33.33333%;
    display: flex ;
    flex-direction: column;
    flex: 1 250px;
    box-sizing: border-box;
    background-color: var(--lightblue);
    border-radius: 30px;
}

.museuminfo-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

.museuminfo-img1 {
    border-bottom: 10px solid var(--yellow);
  }

.museuminfo-img2 {
    border-bottom: 10px solid var(--green);
  }

.museuminfo-img3 {
    border-bottom: 10px solid var(--primaryblue);
  }
    /* Hide element on Tablet/Phone */

@media only screen and (max-width:850px) { 
    .museuminfo-container {
        text-align: center;
    }

    .museuminfo-title {
        font-size: 25px;
        text-align: center;
    }

    .museuminfo-box1, .museuminfo-box2, .museuminfo-box3 {
        text-align: center;
        width: 100%;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    .museuminfo-container p {
        text-align: center;
    }

    .grid-parent-newsinfo {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        text-align: center;
    }

    .newsinfo-top {
        padding-bottom: 0;
        grid-column: span 1 / span 1;
        grid-row-start: auto;
    }

    .newsinfo-left,
    .newsinfo-right {
        grid-column: span 1 / span 1;
        grid-row-start: auto;
        padding-bottom: 40px;
    }

    .newsinfo-title-h3 {
        font-size: 25px;
        text-align: center;
    }

    }



   
    
    
