@import url("./reset.css");
@import url("./variables.css");
@import url("./utforska.css");
@import url("./tack-sida.css");
@import url("./nyheter.css");
@import url("./kontakt.css");
@import url("./intigretetspolicy.css");
@import url("./hem.css");
@import url("./evenemang.css");
@import url("./engagera-dig.css");
@import url("./allmanna-villkor.css");

/* Hide element on Desktop */
@media (min-width: 851px) {
  .burger {
    display: none;
  }

  nav ul {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    bottom: 30px;
    right: 0;
    padding-right: 5%;
    height: 30px;
    list-style: none;
  }

  nav li {
    margin: 0 0 20px 20px;
    text-align: left;
  }
}

/* Desktop Section */
body {
  color: var(--dark);
  background: var(--white);
  font-family: 'Avenir', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Header */
header {
  position: relative;
  min-height: 144px;
  width: 100%;
  padding: 25px 0;
  text-align: center;
  z-index: 100;
}

.logo {
  display: flex;
  width: auto;
  height: 135px;
  margin-left: 5%;
}

/* Navigation */
.toggler {
  display: none;
}

nav a {
  color: var(--dark);
  text-decoration: none;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
}

nav a::after {
  content: '';
  display: block;
  border-bottom: 5px solid var(--primaryblue);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
}

nav a:hover {
  color: var(--primaryblue);
  transition: color 0.1s ease-in;
  text-decoration: none;
}

nav a:hover::after {
  transform: scaleX(1);
}

.toggler:checked ~ nav ul {
  left: 0;
}

.active {
  border-bottom: 5px solid var(--primaryblue);
  padding-bottom: 25px;
}

/* Main */
main {
  background: var(--white);
  width: 100%;
}

.topinfo-left,
.topinfo-right {
  min-height: 30px;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 18px;
  background: var(--yellow);
}

.topinfo-left {
  text-align: left;
  padding-left: 10%;
}

.topinfo-left a {
  font-weight: 900;
}

.topinfo-right {
  padding-right: 10%;
}

.grid-parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-parent p {
  font-size: 18px;
}

.page-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 500px;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.article-left,
.article-right {
  margin: 0 25px 30px;
  padding: 5%;
}

.grid-parent-article {
  display: grid;
  grid-template-columns: 1fr 40%;
}

.grid-parent-article p {
  line-height: 30px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

/* Footer */
footer {
  width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-social {
  display: flex;
  flex-direction: row;
  min-height: 118px;
  background: var(--white);
  border-top: 8px solid var(--lightblue);
}

.social,
.social-text,
.up {
  display: flex;
  align-items: center;
  margin: auto;
  text-align: left;
  justify-content: flex-start;
}

.social {
  padding-left: 5%;
}

.social-text {
  flex-grow: 1;
  padding: 0 15px;
}

.up {
  flex-grow: 1;
  justify-content: flex-end;
  text-align: right;
  padding-right: 5%;
}

.footer-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-style: normal;
  border-top: 10px solid var(--green);
  background: var(--lightblue) url("../../assets/images/footer-bg.png") no-repeat bottom right;
  padding: 25px 0 50px 5%;
  min-height: 400px;
}

.footer-title,
.footer-title-social {
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  padding: 25px 25px 25px 0;
  font-style: normal;
}

.footer-legal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 65px;
  background: var(--lightblue);
  border-top: 2px solid var(--primaryblue);
  padding-left: 5%;
}

/* Global elements */
.img {
  width: 100%;
}

.btn-social-fb,
.btn-up {
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  height: 60px;
  line-height: 55px;
  width: 60px;
  transition: background-color 0.5s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn-social-fb {
  color: var(--white);
  background-color: var(--dark);
  margin-right: 15px;
}

.btn-social-fb:hover {
  background-color: #4267B2;
  text-decoration: none;
}

.btn-social-tw:hover {
  background-color: #1DA1F2;
  text-decoration: none;
}

.btn-social-in:hover {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  text-decoration: none;
}

.btn-up {
  color: var(--dark);
  background-color: var(--lightblue);
}

.btn-up:hover {
  background-color: var(--lighterblue);
  text-decoration: none;
}

.polygon1,
.polygon2,
.polygon3,
.polygon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 88.3%, 100% 95%, 100% 100%, 0% 100%);
  z-index: 2;
  background-color: var(--white);
}

.polygon2 {
  background-color: var(--lightblue);
  clip-path: polygon(0% 88.3%, 100% 95%, 100% 100%, 0% 94.8%);
}

.polygon3 {
  background-color: var(--lighterblue);
  clip-path: polygon(0% 88.3%, 100% 88.8%, 100% 97.3%, 0% 91.3%);
}

.polygon4 {
  background-color: var(--primaryblue);
  opacity: 0.8;
  clip-path: polygon(0% 67.5%, 100% 85.8%, 100% 89.8%, 0% 89.8%);
}

.post-headline {
  font-size: 3vmin;
  font-weight: 300;
  text-align: left;
  padding-bottom: 30px;
  width: 70%;
}

.main-button,
.arrow-button,
.call-to-action-button {
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  transition-duration: 0.4s;
  border-style: solid;
  border-width: 5px;
  color: var(--white);
  text-align: center;
  display: inline-block;
}

.main-button,
.arrow-button {
  background-color: var(--dark);
  border-color: var(--dark);
}

.main-button {
  font-size: 20px;
  padding: 8px 20px;
  min-height: 30px;
  min-width: 120px;
  position: absolute;
  top: 40px;
  right: 5%;
}

.main-button:hover,
.arrow-button:hover {
  border-color: var(--primaryblue);
  background-color: var(--darkblue);
  text-decoration: none;
}

.arrow-button {
  font-size: 18px;
  padding: 6px 15px;
  min-height: 25px;
  min-width: 100px;
  width: 160px;
  color: var(--white);
}

.call-to-action-button {
  background-color: var(--green);
  border-color: var(--green);
  color: var(--dark);
  font-size: 25px;
  padding: 15px 25px;
  min-width: 250px;
  width: 270px;
  position: relative;
  z-index: 3;
}

.call-to-action-button:hover {
  border-color: var(--primaryblue);
  color: var(--primaryblue);
  background-color: var(--green);
  text-decoration: none;
}

/* Hide element on Tablet/Phone */
@media (max-width: 850px) {
  /* Header */
  .logo {
    width: 180px;
    height: auto;
    margin-left: 5%;
    padding: 0;
  }

  .main-button {
    top: 20px;
    right: 20px;
    font-size: 16px;
    padding: 5px 10px;
    max-width: 180px;
    min-height: 30px;
    min-width: 100px;
  }

  .burger {
    position: absolute;
    display: flex;
    font-size: 50px;
    color: var(--dark);
    height: 100%;
    cursor: pointer;
    top: 0;
    right: 0;
    margin: 20px 5% 0 0;
    align-items: center;
    z-index: 100;
  }

  nav a {
    font-size: 20px;
  }

  nav ul {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin-top: 65px;
    padding: 40px;
    background: var(--white);
    left: -100%;
    transition: all 0.5s;
    list-style: none;
  }

  nav li {
    margin: 0 0 20px 15%;
    text-align: left;
  }

  nav a::after,
  nav a:hover::after {
    display: none;
  }

  .active {
    border-bottom: 0;
    padding-bottom: 0;
  }

  /* Accessibility */
  .sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    border: 0 !important;
  }

  .sr-only-focusable:focus,
  .sr-only-focusable:active {
    position: static !important;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    overflow: visible !important;
    clip: auto !important;
  }

  /* Main */
  main {
    width: 100%;
  }

  .topinfo-left {
    display: none;
  }

  .topinfo-right {
    padding-right: 0;
  }

  .topinfo-h2 {
    text-align: center;
  }

  .grid-parent {
    grid-template-columns: 1fr;
  }

  .article-left,
  .article-right {
    margin-bottom: 20px;
    padding: 20px;
  }

  .grid-parent-article {
    grid-template-columns: 1fr;
  }
  
  /* Footer */
  .footer-social {
    flex-direction: column-reverse;
    padding-bottom: 20px;
  }

  .social {
    padding-left: 0;
  }

  .social-text {
    flex-direction: column;
    padding: 20px 0 10px;
  }

  .up {
    display: none;
  }

  .footer-main {
    align-items: center;
    justify-content: center;
    padding-left: 0;
  }

  .footer-legal {
    flex-direction: column;
    padding-top: 20px;
  }
}
