.thanks-content {
    height: 100%;
    min-height: 400px;
    width: 100%;
    margin:0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 6vmin;
    line-height: 50px;
}

.thanks-content p {
    text-align: center;
    font-size: 18px;
    text-transform: none;
    padding: 20px;
}

.green-icon {
    color: var(--green);
}