/* Useful variables, colors, fonts and padding sizes */
  @font-face {
    font-family: 'Avenir';
    src: url('/fonts/avenir.eot'); /* IE9 Compat Modes */
    src: url('/fonts/avenir.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/avenir.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/avenir.woff') format('woff'), /* Modern Browsers */
         url('/fonts/avenir.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/avenir.svg#Avenue') format('svg'); /* Legacy iOS */
}

:root {
    --white: #ffffff;
    --dark: #091034;
    --yellow: #F4DA52;
    --green: #5FF592;
    --primaryblue: #183BF0;
    --darkblue: #0A2299;
    --lighterblue: #798EF6;
    --lightblue: #DDE3FD;
    --font-avenir-name: 'Avenir';
    --font-avenir-eot: '/fonts/avenir.eot';
    --font-avenir-woff2: '/fonts/avenir.woff2';
    --font-avenir-woff: '/fonts/avenir.woff';
    --font-avenir-ttf: '/fonts/avenir.ttf';
    --font-avenir-svg: '/fonts/avenir.svg#Avenir';
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: #183BF0;
  }
  
  a:hover {
    text-decoration: underline;
  }

  ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

  h1 {
    font-size: 10vmin;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.0;
  }

  h2.largeh2 { 
    font-size: 6vmin;
    font-weight: 900;
    text-align: left;
    line-height: 50px;
    width: 80%;
    padding-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
    margin-bottom: 20px;
  }

  h2.topinfo-h2 { 
    text-align: right;
    font-weight: 900;
    font-size: 18px;
  }

  h2.newsinfo-h2 {
    color: var(--white);
    background-color: var(--primaryblue);
    font-weight: 900;
    font-size: 20px;
    min-width: 200px;
    width: 200px;
    height: 50px;
    padding-top: 10px;
    margin: 0;
    text-align: center;
    border-top-left-radius: 30px; 
    border-top-right-radius: 30px; 
  }

  h2.bluebg-h2 {
    font-size: 4vmin;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
    background-color: var(--lightblue);
    line-height: 50px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
  }

  h3 {
    font-size: 3vmin;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
    padding: 0;
    padding-bottom: 30px;
  }

  p {
    font-size: 18px;
    font-weight: 300;
    text-align: left;
  }

  /* Hide element on Tablet/Phone */

@media only screen and (max-width:850px) {
    h2.largeh2 {
        text-align: center;
        width: 100%;
      }

    h2.topinfo-h2 {
        text-align: center;
      }

    h2.newsinfo-h2 {
      width: 100%;
  }

  h1 {
    font-size: 9vmin;
    padding-top: 40px;
    padding-bottom: 10px;
  }

    
    }